.tophero{
    min-height: 110vh;
    display: flex;
    border: 4vw solid rgba(128, 128, 128, 0.578);
    /* border-top: none; */
}

.lefthero{
    width: 55%;
}

.lefthero{
    /* background-color: aquamarine; */
    padding: 5vw 5vw 0 7vw;
}

.toph1hero,.toph1hero2{
    display: flex;
    align-items: center;
}

.h1oftoph1hero{
        font-size: 4vw;
        font-weight: 900;
}

.circlespanleft{
        display: inline-block;
        align-items: center;
        margin-left: 2vw;
        padding: 1.2vw;
        border-radius: 50%;
        background-color: #d8234a;
        font-weight: 900;
        color: white;
        font-size: 1.5vw;
        border: 2px solid white;
}

.smallprofimggirl{
    width: 5vw;
    height: 5vw;
    display: inline-block;
 }
 
 .smallprofimggirl img{
     width: 100%;
     height: 100%;
     object-fit: cover;
     border-radius: 50%;
     border: 2px solid white;
 }


 .semicircleheroleft{
    margin-left: 2vw;
    padding: 1.25vw;
    background-color: #ff9830;
    border-radius: 50%;
    border: 2px solid white;
    font-weight: 900;
    color: white;
    font-size: 1.5vw;
    transform: rotate(-60deg);
}

.contenthead{
    margin-top: 1vw;
    font-size: 1.15vw;
    font-size: 900;
    color: #161259;
}

.bigorngcircle{
    position: absolute;
    top: 83%;
    left: 4%;
    width: 10vw;
    height: 10vw;
    background-color: #fdf1da;
    border-radius: 50%;
    position: absolute;
    z-index: -1;
}

.coursesericeselector{
    margin-top: 2vw;
    border-radius: 7px;
    padding: 1vw;
    background-color: whitesmoke;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
    min-height: 15vw;
}

.topheadingselect1{
    display: flex;
}

.topheadingselect h3{
    cursor: pointer;
}

#serv{
    margin-left: 2vw;
}

.activeclass{
    border-bottom: 2px solid #161259;
}

.indicardinselector{
    margin-top: 1.5vw;
    padding: .5vw 1vw;
    border-radius: 7px;
    border: 1px solid grey;
}

.indicardinselector h3{
color: grey;
font-size: .75vw;
}

.indicardinselector  input{
    width: 100%;
    border: 0;
    outline: 0;
    background: transparent;
    margin-top: .5vw;
}

.righthero{
    /* background-color: chocolate; */
    width: 45%;
    padding: 7vw;
    
}

.mainrightcardd{
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
    min-height: 80vh;
    border-radius: 10px;
   margin-right: -9vw;
  padding: 3.5vw 2vw;
}

.purplediv{
    min-height: 20vw;
    background-color: #735688;
    border-radius: 10px;
    padding: 3.5vw 2vw;
    display: flex;
}

.girlwithtab{
    width: 60%;
}

.girlwithtab img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.txtleftpurple{
    width: 40%;
    overflow: hidden;
}


.txtleftpurple h2{
    color: white;
    font-size: 2vw;
}

.reactangularwhitediv{
    background-color: white;
   
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    margin-top: 1vw;
    padding: .5vw 0;
}

/* .chld2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} */

.reactangularwhitediv h2{
    color: black;
    text-align: center;
}

.earning_worldtop10_parent{
    display: flex;
    /* justify-content: center; */
    margin: 2.5vw 2vw 2vw 2vw;
    padding: 0 1vw;
    /* background-color: red; */
    height: 10vw;
}

.worldtop1{
    background-color: white;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
    padding: .75vw;
    min-height: 10vw;
    width: 50%;
flex: none;
order: 1;
border-radius: 10px;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
}

.earningdsreport{
    background-color: white;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
    padding: .75vw;
    min-height: 10vw;
    width: 50%;
flex: none;
order: 1;
margin-left: 2vw;
border-radius: 10px;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
}

.statisticsimghlder{
    width: 7vw;
    height: 7vw;
}

.statisticsimghlder img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* margin-left: auto;
    margin-right: auto; */
}

.worldtop1 h5, .earningdsreport h5{
    color: grey;
    font-size: .75vw;
    margin-bottom: .5vw;
}

.indiearnings{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-bottom: 1.5px solid grey;
    margin: .1vw;
}

.indiearnings h6{
    font-size: .6vw;
    color: grey;
}

.indiearnings h3{
    font-size: 1vw;
    color: black;
}