.tophero{
    min-height: 110vh;
    display: flex;
    border: 4vw solid rgba(128, 128, 128, 0.578);
}

.lefthero{
    width: 55%;
}

.lefthero{
    /* background-color: aquamarine; */
    padding: 5vw 5vw 0 7vw;
}

.toph1hero,.toph1hero2{
    display: flex;
    align-items: center;
}

.h1oftoph1hero{
        font-size: 4vw;
        font-weight: 900;
}

.circlespanleft{
        display: inline-block;
        align-items: center;
        margin-left: 2vw;
        padding: 1.2vw;
        border-radius: 50%;
        background-color: red;
        font-weight: 900;
        color: white;
        font-size: 1.5vw;
        border: 2px solid white;
}

.smallprofimggirl{
    width: 5vw;
    height: 5vw;
    display: inline-block;
 }
 
 .smallprofimggirl img{
     width: 100%;
     height: 100%;
     object-fit: cover;
     border-radius: 50%;
     border: 2px solid white;
 }


 .semicircleheroleft{
    margin-left: 2vw;
    padding: 1.25vw;
    background-color: orange;
    border-radius: 50%;
    border: 2px solid white;
    font-weight: 900;
    color: white;
    font-size: 1.5vw;
    transform: rotate(-60deg);
}

.contenthead{
    margin-top: 1vw;
    font-size: 1.15vw;
    font-size: 900;
    color: #161259;
}

.bigorngcircle{
    position: absolute;
    top: 83%;
    left: 4%;
    width: 10vw;
    height: 10vw;
    background-color: rgba(255, 166, 0, 0.155);
    border-radius: 50%;
    position: absolute;
    z-index: -1;
}

.coursesericeselector{
    margin-top: 2vw;
    border-radius: 7px;
    padding: 1vw;
    background-color: whitesmoke;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
    min-height: 15vw;
}

.topheadingselect1{
    display: flex;
}

.topheadingselect h3{
    cursor: pointer;
}

#serv{
    margin-left: 2vw;
}

.activeclass{
    border-bottom: 2px solid #161259;
}

.indicardinselector{
    margin-top: 1.5vw;
    padding: .5vw 1vw;
    border-radius: 7px;
    border: 1px solid grey;
}

.indicardinselector h3{
color: grey;
font-size: .75vw;
}

.indicardinselector  input{
    width: 100%;
    border: 0;
    outline: 0;
    background: transparent;
    margin-top: .5vw;
}

.righthero{
    /* background-color: chocolate; */
    width: 45%;
    padding: 7vw;
    
}

.mainrightcardd{
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
    min-height: 80vh;
    border-radius: 10px;
   margin-right: -9vw;
   /* position: absolute;
   z-index:200; */
  /* background-color: red; */
}