/* .loginn,.singupp{
    width: 50%;
    padding: 1vw .5vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.singupp{
    background-color: #c043ad;
    color: white;
    border-radius: 7px;
} */